.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .MsgTop {
        display: flex;

        .msgImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 12px;
        }

        .msgTxt {
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(49, 48, 90, 0.911);
            color: white;
            font-size: 15px;
            font-weight: 400;
            max-width: 380px;
        }
    }

    .MsgBottom {
        font-size: 12px;
        margin-top: 10px;
    }

}

.message.own {
    align-items: flex-end;
}

.message.own {
    .msgTxt {
        background-color: rgba(71, 112, 95, 0.719);
    }
}