.online {
    .friend {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .friendProfile {
            margin-right: 10px;
            position: relative;

            .friendImg {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
            }

            .friendOn {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
                position: absolute;
                top: -2px;
                right: 0;
                border: 1px solid white;
            }
        }

        .userName {
            font-weight: 500;
        }
    }
}